html
  head
    link(rel="stylesheet", href="/style.css")
    title Cities and Countries App
    block head
  body
    .layout
      .layout-nav
        include mixins/nav
        +navigation()
        
      .layout-content
        block content